<!DOCTYPE HTML>
<html>
<head>
    <title><?php echo C('TITLE_NAME');?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!--link rel="stylesheet" href="__PUBLIC__/css/ui.css?v=0.0.8"-->
    <!--link rel="stylesheet" href="__PUBLIC__/css/style.css?v=0.0.8?"-->
    
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css?v=0.0.8">
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/light7.js?v=0.0.8.1'></script>
    <script type='text/javascript' src='__PUBLIC__/js/common.js'></script>
</head>
<body>
    {__CONTENT__}      
</body>

</html>
