<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{:C('TITLE_NAME')}</title>
    <!--link rel="stylesheet" href="http://www.runoob.com/try/weui/style/weui.css"/ -->
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/example.css"/>
    <style type="text/css">
    	.page.flex .placeholder  {
    		background-color: #0073dd;
    		color: white;
    	}
		#sdd_header {
			margin: 0px;
		}
		.cs_item {
			margin-top: 0px;
		}
		.cs_item:after {
			border-bottom: 0px solid #e5e5e5;
		}
		#cs_content{
			background-color: #ffffff;
			padding-top: 0px;
		}
		#cs_content:before{
			border-top: 0px solid #e5e5e5;
		}
        #cs_sign_ok>a {
            background-color: #0073dd;
            margin-top: 30px;
        }
		.weui-cells:before {
			border-top: 0px solid #e5e5e5;
		}
		#cs_content_detail {
			display: block;
			padding: 2px 10px;
		}
		#cs_sign{
			margin-top: 5px;
		}
        .import_text {
            text-decoration: underline;
            font-weight: 900;
        }
        .import_text:before {
            content: '\00A0\00A0';
        }
        .import_text:after {
            content: '\00A0\00A0';
        }
        .cs_layout {
            padding: 0px 2em;
            font-size: 1em;
        }
        .weui-input {
            width: 80%;
        }
        .weui-cell_access .weui-cell__ft:after {
            border-width: 0px 2px 2px 0;
        }
    </style>
</head>
<body ontouchstart>
    <div class="container">
        <div class="page tabbar badge button flex uploader js_show">
            <!--div class="page__bd input page__bd_spacing" style="padding: 0;">
                <div class="weui-flex">
                    <div class="weui-flex__item"><div class="placeholder" id="sdd_header" >Pay for</div></div>
                </div>
            </div-->
            <div class="page__bd input page__bd_spacing" style="height: 100%; padding: 0;">
                <!--div class="weui-tab"-->
                    <div class="weui-tab__panel" id="panel-1">
                        <div class="weui-flex">
                            <div class="weui-flex__item"><div class="placeholder" id="sdd_header" >创建会议签到</div></div>
                        </div>
                        <div class="weui-cells cs_item">
                        	<div class="weui-cell">
                        		<div class="weui-cell__hd">
                        			<img src="__PUBLIC__/images/cs_title.png" alt style="width: 20px;margin-right: 5px;display: block;">
                        		</div>
                        		<div class="weui-cell__bd">
                        			<p>会议主题</p>
                        		</div>
                        		<div class="weui-cell__ft"></div>
                        	</div>
                        </div>
                        <div class="weui-cells cs_item">
                            <div class="weui-cell cs_layout">
                                <div class="weui-cell__hd">
                                    
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" placeholder="请输入会议主题" id="cs_title" value="">
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
                        <div class="weui-cells cs_item">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <img src="__PUBLIC__/images/cs_content.png" alt style="width: 20px;margin-right: 5px;display: block;">
                                </div>
                                <div class="weui-cell__bd">
                                    <p>会议内容</p>
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
                        <div class="weui-cells cs_item">
                            <div class="weui-cell cs_layout">
                                <div class="weui-cell__hd">
                                    
                                </div>
                                <div class="weui-cell__bd">
                                    <textarea class="weui-textarea" placeholder="请输入会议内容" rows="3" id="cs_content" wrap="hard" cols="3"></textarea>
                                    <!--div class="weui-textarea-counter"><span>0</span>/200</div-->
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
		                <div class="weui-cells cs_item">
                        	<div class="weui-cell" style="padding-right: 0px;">
                        		<div class="weui-cell__hd" style="width: 36%;">
                        			<img src="__PUBLIC__/images/cs_time.png" alt style="width: 20px;">
                                    <span style="position: relative;top: -5px;">会议时间：</span>
                        		</div>
                        		<div class="weui-cell__bd" style="width: 64%;">
                        			<!--span style="position: relative;top: 15px;">会议时间：</span--><input class="weui-input" type="datetime-local" value="" placeholder="" id="cs_start_time" style="width: 100%;position: relative;left: 0em;top: -6px;">
                        		</div>
                        		<div class="weui-cell__ft"></div>
                        	</div>
                        </div>
                        <div class="weui-cells cs_item">
                            <div class="weui-cell" style="padding-right: 0px;">
                                <div class="weui-cell__hd" style="width: 36%;">
                                    <img src="__PUBLIC__/images/cs_addr.png" alt style="width: 20px;">
                                    <span style="position: relative;top: -5px;">会议地点：</span>
                                </div>
                                <div class="weui-cell__bd" style="width: 64%;">
                                    <input class="weui-input" type="text" placeholder="请输入会议地点" id="cs_addr" value="" style="width: 100%;position: relative;left: 0em;top: -6px;">
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
                        <div class="weui-cells cs_item">
                            <div class="weui-cell cs-cell" style="padding-right: 0px;">
                                <div class="weui-cell__hd" style="width: 36%;">
                                    <img src="__PUBLIC__/images/cs_host_man.png" alt style="width: 20px;">
                                    <span style="position: relative;top: -5px;">主会人：</span>
                                </div>
                                <div class="weui-cell__bd" style="width: 64%;">
                                    <input class="weui-input" type="text" placeholder="请输入主会人" id="cs_host_user" value="" style="width: 100%;position: relative;left: 0em;top: -6px;">
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
                        <div class="weui-cells cs_item" style="margin-top: 5px;">
                            <div class="weui-cell weui-cell_access">
                                <div class="weui-cell__hd">
                                    <img src="__PUBLIC__/images/cs_secret.png" alt style="width: 20px;margin-right: 5px;display: block;">
                                </div>
                                <div class="weui-cell__bd">
                                    <p>保密等级</p>
                                </div>
                                <div class="weui-cell__ft"></div>
                            </div>
                        </div>
                        <div class="weui-cells weui-cells_radio" style="padding: 0px 1.5em;margin-top: 0px;">
                            <label class="weui-cell weui-check__label" for="x11">
                                <div class="weui-cell__bd">
                                    <p>绝密</p>
                                </div>
                                <div class="weui-cell__ft">
                                    <input type="radio" class="weui-check" name="radio1" id="x11"  value="3">
                                    <span class="weui-icon-checked"></span>
                                </div>
                            </label>
                            <label class="weui-cell weui-check__label" for="x12">
                                <div class="weui-cell__bd">
                                    <p>机密</p>
                                </div>
                                <div class="weui-cell__ft">
                                    <input type="radio" name="radio1" class="weui-check" id="x12" value="2">
                                    <span class="weui-icon-checked"></span>
                                </div>
                            </label>
                            <label class="weui-cell weui-check__label" for="x13">
                                <div class="weui-cell__bd">
                                    <p>秘密</p>
                                </div>
                                <div class="weui-cell__ft">
                                    <input type="radio" name="radio1" class="weui-check" id="x13" value="1">
                                    <span class="weui-icon-checked"></span>
                                </div>
                            </label>
                            <label class="weui-cell weui-check__label" for="x14">

                                <div class="weui-cell__bd">
                                    <p>不保密</p>
                                </div>
                                <div class="weui-cell__ft">
                                    <input type="radio" name="radio1" class="weui-check" id="x14" value="0" checked="checked">
                                    <span class="weui-icon-checked"></span>
                                </div>
                            </label>
                        </div>
                        <div class="page__bd page__bd_spacing" id="cs_sign_ok">
                            <a href="javascript:;" class="weui-btn weui-btn_primary" id="add_cs_ok_btn">保存</a>
                        </div>
                    </div>
                <!--/div-->
                <!-- toast -->
                <div id="toast" style="opacity: 1; display: none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <!--i class="weui-icon-success-no-circle weui-icon_toast"></i-->
                        <i class="weui-icon-warn weui-icon_toast"></i>
                        <p class="weui-toast__content">已完成</p>
                    </div>
                </div>
                <div id="loadingToast" style="opacity: 1; display: none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <i class="weui-loading weui-icon_toast"></i>
                        <p class="weui-toast__content">数据加载中</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/zepto.min.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script type="text/javascript">
    var toast = $('#toast');
    $(document).ready(function(){
        $('#add_cs_ok_btn').click(function(){
            var cs_title        = $("#cs_title")        .val();
            var cs_content      = $("#cs_content")      .val();
            var cs_start_time   = $("#cs_start_time")   .val();
            var cs_addr         = $("#cs_addr")         .val();
            var cs_host_user    = $("#cs_host_user")    .val();
            var cs_level        = '';
            var cs_user_names   = $("#cs_user_names")   .val() ? null : $("#cs_user_names").val();
            $("[name='radio1']").each(function(){
                var chk_status = $(this).prop("checked");
                if(chk_status) {
                    cs_level = $(this).val();
                }
            });

            if(cs_title == '') {
                showFeedMsg('会议主题不能为空');
                return false;
            }

            if(cs_content == '') {
                showFeedMsg('会议内容不能为空');
                return false;
            }

            if(cs_start_time == '') {
                showFeedMsg('会议开始时间不能为空');
                return false;
            }

            if(cs_addr == ''){
                showFeedMsg('会议地点不能为空');
                return false;
            }

            if(cs_host_user == '') {
                showFeedMsg('主会人不能为空');
                return false;
            }
            /*
            if(cs_user_names == '') {
                showFeedMsg('人员名单不能为空');
                return false;
            }
            */

            var $loadingToast = $('#loadingToast');
            if ($loadingToast.css('display') != 'none') return;
            $loadingToast.fadeIn(100);

            $.ajax({
                type: "post",
                url: "{:U('Application/doAddConferenceSign')}",
                data: {
                    TITLE:           cs_title,
                    CONTENT:         cs_content,
                    ADDR:            cs_addr,
                    START_TIME:      cs_start_time,
                    HOST_USER:       cs_host_user,
                    LEVEL:           cs_level,
                    USER_NAMES:      cs_user_names
                },
                dataType: "json",
                async: true,
                success: function(res) {
                    $loadingToast.fadeOut(100);
                    if(res.code == 1) {
                        showFeedMsg(res.msg);
                        location.href = "{:U('Application/showAddCSUsersPage')}"+'?cs_id='+res.cs_id;
                    } else {
                        showFeedMsg(res.msg);
                    }
                },
                error: function(xmlHttpRequest, textStatus, errorThrown) {
                    alert('系统异常，请联系主会人');
                }
            });
        });
    });
    function showFeedMsg(msg) {
        var toast = $('#toast');
        if (toast.css('display') != 'none') return;
        toast.find('i').removeClass('weui-icon-success-no-circle').addClass('weui-icon-warn');
        toast.find('.weui-toast__content').text(msg);
        toast.fadeIn(1000);
        setTimeout(function () {
            toast.fadeOut(1000);
        }, 2000);
    }
    </script>
</body>
</html>