<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{:C('TITLE_NAME')}</title>
    <!--link rel="stylesheet" href="http://www.runoob.com/try/weui/style/weui.css"/ -->
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/example.css"/>
    <style type="text/css">
    	.page.flex .placeholder  {
    		background-color: #0073dd;
    		color: white;
    	}
		#sdd_header {
			margin: 0px;
		}
		.cs_item {
			margin-top: 0px;
		}
		.cs_item:after {
			border-bottom: 0px solid #e5e5e5;
		}
		#cs_content{
			background-color: #ffffff;
			padding-top: 0px;
		}
		#cs_content:before{
			border-top: 0px solid #e5e5e5;
		}
		.weui-cells:before {
			border-top: 0px solid #e5e5e5;
		}
		#cs_content_detail {
			display: block;
			padding: 2px 10px;
		}
		#cs_sign{
			margin-top: 5px;
		}
        #cs_content>p {
            text-indent: 2em;
        }
        #cs_sign_ok>a {
            background-color: #0073dd;
            margin-top: 30px;
        }
        .import_text {
            text-decoration: underline;
            font-weight: 900;
        }
        .import_text:before {
            content: '\00A0\00A0';
        }
        .import_text:after {
            content: '\00A0\00A0';
        }
    </style>
</head>
<body ontouchstart>
    <div class="container">
        <div class="page tabbar badge button flex uploader js_show">
            <!--div class="page__bd input page__bd_spacing" style="padding: 0;">
                <div class="weui-flex">
                    <div class="weui-flex__item"><div class="placeholder" id="sdd_header" >Pay for</div></div>
                </div>
            </div-->
            <div class="page__bd input page__bd_spacing" style="height: 100%; padding: 0;">
                <!--div class="weui-tab"-->
                    <div class="weui-tab__panel" id="panel-1">
                        <div class="weui-flex">
                            <div class="weui-flex__item"><div class="placeholder" id="sdd_header" >签到</div></div>
                        </div>
                        <div class="weui-cells cs_item">
                        	<div class="weui-cell">
                        		<div class="weui-cell__hd">
                        			<img src="__PUBLIC__/images/cs_title.png" alt style="width: 20px;margin-right: 5px;display: block;">
                        		</div>
                        		<div class="weui-cell__bd">
                        			<p>保密会议</p>
                        		</div>
                        		<div class="weui-cell__ft"></div>
                        	</div>
                        </div>

                        <div class="weui-media-box weui-media-box_text" id="cs_content">
		                    <p class="weui-media-box__desc" id="cs_content_detail">
		                    <p style="color:black;font-size: 1.2em;text-align: center;text-indent: 0px;">会议保密声明函</p><br/>
                            <span style="float:right;text-align: right;font-size: 10px;">编号：ZTJTM20180623-01</span><br/>
                            <p>
		                    因工作或项目需要，本人参与了<span class="import_text">{:date("Y",strtotime($cs_info['start_time']))}</span>年<span class="import_text">{:date("m",strtotime($cs_info['start_time']))}</span>月<span class="import_text">{:date("d",strtotime($cs_info['start_time']))}</span>日以三地（杭州+温州+上海）视频方式召开的<span class="import_text">{$cs_info['title']}</span>会议，并获知了相关的信息、文件或资料。本人充分理解上述会议所涉及内容的重要行和保密性，特此声明如下：</p>
		                    <p>本人知悉参加上述会议期间所获知/获得的所有相关信息（以下统称“保密信息”）均为正泰集团股份有限公司或其关联公司（以下统称“正泰集团”）<span class="import_text">{:C('CS_LEVEL')[$cs_info['level']]}</span>级别的保密信息。<p/>
                            <p>本人承诺对上述保密信息以其对应密级的相关法律法规/规章制度/会议要求等进行严格保密，在未获得正泰集团书面允许之前不以任何形式披露、泄露、公开该等保密信息。若违法上述承诺，本人自愿按照相关法律法规/规章制度/会议要求/保密协议，以及与正泰集团签署的劳动合同、聘用协议（正泰集团员工适用）等承担相应的责任。</p>
                            <p>本声明函签署即生效。</p>
                            <p>特此声明</p>
		                	</p>
		                </div>
		                
                        <div class="weui-cells cs_item" id="cs_sign">
                        	<div class="weui-cell">
                        		<div class="weui-cell__hd">
                        			<img src="__PUBLIC__/images/cs_sign.png" alt style="width: 20px;margin-right: 5px;">签到人:
                        		</div>
                        		<div class="weui-cell__bd">
                                    <if condition="$cs_pre_users neq null">
                        			<select class="weui-select" id="sign_list_sel" style="display: none;" onchange="signerChange(this)">
                                        <foreach name="cs_pre_users" item="user">
                                            <option value="{$user.user_name}">{$user.user_name}</option>
                                        </foreach>
                                        <!--
                        				<option value="张三1">张三</option>
                        				<option value="李四1">李四</option>
                        				<option value="王五1">王五</option>
                                    -->
                        			</select>
                                    </if>
                        			<input class="weui-input" type="text" placeholder="请输入本人姓名" id="sign_name_text">
                        		</div>
                        		<div class="weui-cell__ft">
                                    <if condition="$cs_pre_users neq null">
                                    <img src="__PUBLIC__/images/cs_host_man.png" alt style="width: 15px;margin-left: 5px;display: block;" onclick="showSignListSel();">
                                    </if>
                                </div>
                        	</div>
                        </div>
                        <div class="page__bd page__bd_spacing" id="cs_sign_ok">
                            <a href="javascript:;" class="weui-btn weui-btn_primary" id="sign_ok_btn">确认签到</a>
                        </div>
                    </div>
                <!--/div-->
                <!-- toast -->
                <div id="toast" style="opacity: 100; display: none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                        <p class="weui-toast__content">已完成</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/zepto.min.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script type="text/javascript">
    var sign_list_sel 	= $('#sign_list_sel');
    var sign_name_text 	= $('#sign_name_text');
    function showSignListSel() {
    	console.log('显示签到人列表');  
    	sign_name_text.css('display', 'none');
    	sign_list_sel.css('display', 'block');

    }
    function signerChange(obj) {
    	var value = $(obj).val();
    	console.log('value = ' + value);
    	sign_name_text.val(value);
    	sign_list_sel.css('display', 'none');
    	sign_name_text.css('display', 'block');
    }
    var cs_id = "{$cs_info['cs_id']}";
    $("#sign_ok_btn").click(function() {
        var sign_username = $('#sign_name_text').val();
        //alert('id:user => ' + cs_id +'-' + sign_username);
        $.ajax({
            type: "post",
            url: "{:U('Application/doConferenceSign')}",
            data: {
                cs_id:          cs_id,
                sign_username:  sign_username,
            },
            dataType: "json",
            async: true,
            success: function(res) {
                var toast = $('#toast');
                if (toast.css('display') != 'none') return;
                if(res.code == 3) {
                    toast.find('.weui-toast__content').text(res.msg);
                    toast.fadeIn(1000);
                    setTimeout(function () {
                        toast.fadeOut(1000);
                    }, 2000);
                } 
                // 已经签到过
                else if(res.code == 2) {
                    toast.find('.weui-toast__content').text(res.msg);
                    $("#sign_ok_btn").removeClass("weui-btn_primary").addClass('weui-btn_disabled weui-btn_default').css('background-color', '#F7F7F7').css('color', 'rgba(0, 0, 0, 0.3)');
                        $("#sign_ok_btn").unbind();
                    toast.fadeIn(1000);
                    setTimeout(function () {
                        toast.fadeOut(1000);
                        $("#sign_ok_btn").unbind();
                        window.close();
                    }, 2000);
                } // 签到成功
                else if(res.code == 1) {
                    toast.find('.weui-toast__content').text(res.msg);
                    $("#sign_ok_btn").removeClass("weui-btn_primary").addClass('weui-btn_disabled weui-btn_default').css('background-color', '#F7F7F7').css('color', 'rgba(0, 0, 0, 0.3)');
                        $("#sign_ok_btn").unbind();
                    toast.fadeIn(1000);
                    setTimeout(function () {
                        toast.fadeOut(1000);
                        $("#sign_ok_btn").unbind();
                        window.close();
                    }, 2000);
                } else {
                    toast.find('.weui-toast__content').text('签到失败，请重新扫码或联系主会人！');
                    toast.fadeIn(1000);
                    setTimeout(function () {
                        toast.fadeOut(1000);
                        window.close();
                    }, 2000);
                }
            },
            error: function(xmlHttpRequest, textStatus, errorThrown) {
                alert('系统异常，请联系主会人');
            }
        });
    })
    </script>
</body>
</html>